###############################################################################
#                 KEY AMINOACID PATTERN-BASED PROTEIN ANALYZER                #
#                         KAPPA 1.1 Configuration file                        #
###############################################################################

# USAGE:
# - Parameters set to off can be activated by uncommenting the corresponding
#   line
# - Never uncomment description/title lines or change option names
# - Syntax for options taking a value:       option_name: value
# - Syntax for on/off options:               option_name

# By default, KAPPA loads the kappa.config file located in the same directory
# as the kappa executable. KAPPA option -K can be used to provide path to an
# alternative kappa.config file. If you intend to modify options below, it is
# recommended to keep a copy of the original kappa.config file.


###############################################################################
# PATH TO OTHER EXECUTABLES                                                   #
###############################################################################

# By default, KAPPA will try to find these executables in the PATH variable.

# Path to signalp
signalp = signalp

# Path to secretomep
secretomep = secretomep

# Path to blastp
blastp = blastp

# Path to makeblasrdb
makeblastdb = makeblastdb


###############################################################################
# SIGNALP OPTIONS                                                             #
###############################################################################

# Cut: truncate the input sequences to the specified length from the
# N-terminal. (default: 70). The value of "0" disables truncation.
c = 70

# Method: Use the specified method (default: best). The valid methods are:
#     best: The method decides which neural networks predictions give the best
#           result choosing  predictions  from  either  SignalP-TM or
#           SignalP-noTM networks. For Gram+ organisms it is always
#           SignalP-TM networks.
#     notm: The SignalP-noTM neural networks are specifically chosen.
s = best

# Organism type: use networks and models trained on sequences from the
# specified organism type (default: euk). The valid types are: euk
# (eukaryotes), gram-, (gram-negative bacteria) and gram+ (gram-positive
# bacteria)
t = euk

# User defined D-cutoff for noTM networks. A score above the specified cutoff
# will result in a positive prediction of a signal peptide. The cutoff
# determines  the yes/no answer only, the prediction process is not affected.
# (default: off)
# The default cutoffs are: euk:0.45, gram+:0.57, gram-:0.57.
# The "sensitive" cutoffs (for reproducing the SignalP 3.0 sensitivity) are:
# euk:0.34, gram+:0.42, gram-:0.42
# u =

# User defined D-cutoff for TM networks. A score above the specified cutoff
# will result in a positive prediction of a signal peptide. The cutoff
# determines the yes/no answer only, the prediction process is not affected.
# (default: off) The default cutoffs are: euk:0.50, gram+:0.45, gram-:0.51.
# The "sensitive" cutoffs (for reproducing the SignalP 3.0 sensitivity) are:
# euk:0.34, gram+:0.42, gram-:0.42
# U =


###############################################################################
# BLASTp PARAMETERS                                                           #
###############################################################################

# GENERAL SEARCH OPTIONS
###############################################################################

# Expectation value (E) threshold for saving hits (real) (default: 10)
evalue = 10

# Word size for wordfinder algorithm (integer) (default: 3)
word_size = 3

# Cost to open a gap (integer) (default: 11)
gapopen = 11

# Cost to extend a gap (integer) (default: 1)
gapextend = 1

# Scoring matrix name (PAM30, PAM70, PAM250, BLOSUM45, BLOSUM50, BLOSUM62,
# BLOSUM80, BLOSUM90) (default: BLOSUM62)
matrix = BLOSUM62

# Use composition-based statistics (0, 1, 2, 3) (default: 2)
#     0: No composition-based statistics
#     1: Composition-based statistics as in NAR 29:2994-3005, 2001
#     2: Composition-based score adjustment as in Bioinformatics 21:902-911,
#        2005, conditioned on sequence properties
#     3: Composition-based score adjustment as in Bioinformatics 21:902-911,
#        2005, unconditionally
comp_based_stats = 2


# QUERY FILTERING OPTIONS
###############################################################################

# Filter query sequence with SEG (yes, no or window locut hitcut) (default: no)
seg = no

# Apply filtering locations as soft masks (true, false) (default: false)
soft_masking = false

# Use lower case filtering in query and subject sequence(s) (default: off)
# lcase_masking


# SEARCH/RESULTS RESTRICTION OPTIONS
###############################################################################

# Filtering algorithm ID to apply to the BLAST database as soft masking
# (string) (default: off)
# Incompatible with: db_hard_mask
# db_soft_mask =

# Filtering algorithm ID to apply to the BLAST database as hard masking
# (string) (default: off)
# Incompatible with: db_soft_mask
# db_hard_mask =

# Culling limit: If the query range of a hit is enveloped by that of at least
# this many higher-scoring hits, delete the hit (integer >= 0) (default: off)
# Incompatible with: best_hit_overhang, best_hit_score_edge
# culling_limit =

# Best Hit algorithm overhang value (real 0-0.5) (recommended value: 0.1)
# (default: off)
# Incompatible with: culling_limit
# best_hit_overhang =

# Best Hit algorithm score edge value (real 0-0.5) (recommended value: 0.1)
# (default: off)
# Incompatible with: culling_limit
# best_hit_score_edge =

# Maximum number of aligned sequences to keep (integer >=1) (default: 500)
max_target_seqs = 500


# STATISTICAL OPTIONS
###############################################################################

# Effective length of the database (integer) (default: off)
# dbsize =

# Effective length of the search space (integer) (default: off)
# searchsp =

# Set maximum number of HSPs per subject sequence to save (integer, 0 means no
# limit) (default: 0)
max_hsps = 0

# Use sum statistics (default: off)
# sum_statistics


# EXTENSION OPTIONS
###############################################################################

# X-dropoff value (in bits) for ungapped extensions (int) (default: off)
# xdrop_ungap =

# X-dropoff value (in bits) for preliminary gapped extensions (int)
# (default: off)
# xdrop_gap =

# X-dropoff value (in bits) for final gapped alignment (int) (default: off)
# xdrop_gap_final =

# Multiple hits window size (integer >= 0, use 0 to specify 1-hit algorithm)
# (default: off)
# window_size =

# Perform ungapped alignment only? (default: off)
# ungapped


# MISCELLANEOUS OPTIONS
###############################################################################

# Compute locally optimal Smith-Waterman alignments?
# use_sw_tback
